[Unit]
Description=Making Tizen ID

[Service]
Type=oneshot
ExecStart=/usr/bin/tizen_id
ExecStartPost=/usr/bin/chsmack -a "System::Shared" /etc/tizenid

[Install]
WantedBy=multi-user.target
